body{
    background-color: #1c6785;
    background-image: url(pastel.png);
    background-repeat: no-repeat;
    background-size: inherit;
}

.extra{
    margin-left: 5px;
}

*{
    margin: 0;
    padding: 0;
}
